<!doctype html>
<html>
<head>
  <script src="https://cdn.anychart.com/js/7.14.0/anychart-bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdn.anychart.com/css/7.14.0/anychart-ui.min.css" />
  <style>
    html, body, #container {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
</head>
<body>
    <div id="container"></div>
    <script type="text/javascript">
anychart.onDocumentReady(function() {
  // create data set on our data
  chartData = {
    title: 'Analysis based on occupation of people',
    header: ['#', 'Male', 'Female'],
    rows: [
      ['Professionals', {{malep}}, {{femalep}}],
      ['Business', {{maleb}}, {{femaleb}}],

    ]
  };

  // create column chart
  chart = anychart.column();

  // set chart data
  chart.data(chartData);

  // turn on chart animation
  chart.animation(true);

  chart.yAxis().labels().format('{%Value}{groupsSeparator: }');

  // set titles for Y-axis
  chart.yAxis().title('Number of people');

  chart.labels()
    .enabled(true)
    .position('top')
    .anchor('bottom')
    .format('{%Value}{groupsSeparator: }');
  chart.hoverLabels(false);

  // turn on legend and tune it
  chart.legend()
    .enabled(true)
    .fontSize(13)
    .padding([0, 0, 20, 0]);

  // interactivity settings and tooltip position
  chart.interactivity().hoverMode('single');

  chart.tooltip()
    .positionMode('point')
    .position('top')
    .anchor('bottom')
    .offsetX(0)
    .offsetY(5)
    .titleFormat('{%X}')
    .format('{%SeriesName} : {%Value}{groupsSeparator: }');

  // set container id for the chart
  chart.container('container');

  // initiate chart drawing
  chart.draw();
});
    </script>
</body>
</html>